<!DOCTYPE html>
<html>
  <head>
    <title>SampleApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>APPLICATION LAYOUT</h1>
    <%= link_to_unless_current "Add New User", users_new_user_path %>
    <%= link_to_unless_current "User List", users_list_users_path %>
    <%= yield %>
  </body>
</html>
